@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html{
    height: 100% !important}

body{
    margin: 0 !important;
    display: flex !important;
    flex-direction: column !important;
    min-height: 100% !important;
    height: 100% !important;
    }


footer {
    font-family: Montserrat !important;
    background: #dedede;
    position: relative !important;
    margin-top: 50px !important;
    left: 0 !important;
    right: 0 !important;
}

.footer-col{
    height: 100% !important;
    display: inline-block !important;
    width: 32% !important;
    }

@media (max-width: 1000px){
    #contacts {
        width: 49% !important;
    }

    #help {
        width: 49% !important;
    }

    #project_resources{
        width: 100% !important;
    }
}

.footer_list_heading{
    text-align: center !important;
    font-size: 25px !important;}

.footer_section{
    display: flex !important;
    position: relative !important;
    align-items: center !important;
    justify-content: center !important;
}

.footer_list{padding: 0 !important}

.footer_item{
    text-align: left !important;
    font-size: 20px !important !important;
    list-style: none !important;
}

a{text-decoration: none; color: #b08989}

a:hover{
    color: #7d4343;
}

