h1{color: #C0C0C0;
    text-align: center}

.success_img{
    display: block;
    margin: auto;
    }

.container{
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    height: 100%;
}