{% extends 'base.html' %}
    {% block title%} App | Chess {% endblock %}

    {% block css_load %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/chessboards.css' %}">

    {% endblock %}

{% block body %}
    <header class="navbar">
        <div class="wrap">
            <section class="navsec logotype">
                <div class="wrap logo">
                    <a href="#">1С УЧЕБНЫЙ ЦЕНТР</a>
                </div>
            </section>
            <section class="navsec navigation close" id="nav">
                <nav>
                    <div class="inner buttons">

                        <button class="nav_btn type2" onclick=transitionAcceptModal('https://t.me/OneC_chess_bot')>ИГРАТЬ</button>
                    </div>
                </nav>
            </section>
        </div>
    </header>
    <main>
        <div class="wrap">
            <nav>
            </nav>
            <section class="sec">
                <div class="inner chess_inner">
                    {% load static %}
                    <iframe src="http://127.0.0.1:8000/playgrounds/boards/{{ board_tag }}" frameborder="0" id="chess_frame"></iframe>
                </div>
                <div class="inner chess_static">
                    <div class="sidebar">
                        <div class="table players">
                            <table class="iksweb players">
                                <tbody class="player">
                                    <tr>
                                        <td id="player_avatar_wrap">

                                            {% load static %}
                                            <img id="player_avatar" src="{% get_static_prefix %}{{first_player_avatar}}" alt="">
                                        </td>
                                        <td id="player_name_wrap">
                                            <h1 id="player_name">{{first_player_nickname}}</h1>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" id="player_time">
                                            <h1>32:42</h1>
                                        </td>

                                    </tr>
                                </tbody>

                                <tbody class="player">
                                    <tr>
                                        <td id="player_avatar_wrap">
                                            {% load static %}
                                            <img id="player_avatar" src="{% get_static_prefix%}{{second_player_avatar}}" alt="">
                                        </td>
                                        <td id="player_name_wrap">
                                            <h1 id="player_name">{{second_player_nickname}}</h1>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" id="player_time">
                                            <h1>32:42</h1>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <div class="modal" id="end_game_modal">
        <h1>ИГРА ОКОНЧЕНА</h1>
        <p id="end_game_message">message</p>
        <nav>
            <div class="nav_btn type2" onclick="closeModalWindow(end_game_modal)">ОК</div>
        </nav>
    </div>

    <div class="modal" id="transition_modal">
        <h1>ПОДТВЕРДИТЕ ПЕРЕХОД</h1>
        <p id="transition_message">message</p>
        <nav>
            <div class="nav_btn" onclick="closeModalWindow(transition_modal)">ОТМЕНИТЬ</div>
            <div class="nav_btn type2" onclick="transitionUser('https://t.me/OneC_chess_bot')">ПЕРЕЙТИ</div>
        </nav>
    </div>


{% endblock %}

{% block scripts %}

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
    crossorigin="anonymous"></script>

    {% load static %}
    <script type="text/javascript" src="{% static 'js/chessboard_spectator.js' %}"></script>

    <script>
        $(document).ready(fillData(
        "{{board_fen}}",
        {{first_player_time}},
        {{second_player_time}},))

    </script>

{% endblock %}
