<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Авторизация</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/authorization_form.css' %}">
    </head>
    <body>

    <div class="popup visible" id="callback">
        <div class="into">

            <form method="post" name="authorization_form" id="authorization_form" action="#">
                <h3>АВТОРИЗАЦИЯ</h3>

                <p>Для авторизации тебе нужно ввести специальный код.</p>
                <p>Что бы его получить отправь команду /authorization нашему Telegram боту - @OneC_chess_bot. </p>
                <p>Никому не сообщай код!</p>


                <label for="token" class="label_for_token">Введи токен доступа:</label>
                <input type="text" placeholder="123e4567-e89b-12d3-a456-426655440000" id="token" name="token">
                <p><button class="submit" id="callback_send">✔ Проверить</button></p>

            </form>
        </div>
    </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" 
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" 
    crossorigin="anonymous"></script>

    {% load static %}
    <script src="{% static 'js/authorization_response.js' %}"></script>
</html>