<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <title>Профиль</title>
</head>
<body>
    <div class="profile">
    <div class="into">

        <div class="static_data">
            <div class="avatar">

                <label for="user_avatar">Аватар</label>
                {% load static %}
                <img src={{avatar_path}} height="350px" id="user_avatar">
            </div>

            <div class="id">
                <label for="user_id">ID пользователя</label>
                <p id="user_id">{{user_id}}</p>
            </div>

            <div class="username">
                <label for="user_username">Псевдоним пользователя</label>
                <p id="user_username">{{username}}</p>
            </div>

            <div class="nickname">
                <label for="user_nickname">Имя пользователя</label>
                <p id="user_nickname">{{nickname}}</p>
            </div>
        </div>

        <div class="points">
            <label for="user_points">Очков</label>
            <p id="user_points">{{points}}</p>
        </div>

        <div class="games">
            <label for="user_games">Осталось игр</label>
            <p id="user_games">{{games}}</p>
        </div>

    </div>
    </div>



</body>
</html>