@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    background: #FFFFFF;
}

h1{
    font-family: Montserrat;
    color: #C0C0C0;
    text-align: center
    }

#popup{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
}

@media (max-width: 830px){
    #popup{
        max-width: 100%;
        width: 100%;
    }

    .error_img{
        max-width: 100%;
        width: 100%;
    }

    h1{font-size: 20px;}
}
